#comentarios {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#comentarios-help {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    height: 90vh
}

#titulo-comentarios {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 50px;
    line-height: 45px;
}

.container-comentarios {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    height: 90vh;
    margin: 5px;
}

.container-comentarios-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid blue; */
    height: 90vh;
}

.box-comentario {
    margin: 10px;
    border: 3px solid green;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    width: 45vw;
    height: 5rem;
    border-radius: 10px;
    background-color: #fff;
}

.comentario {
    font-family: "JetBrains Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #000;
    margin-left: 15px;
}

#big-comentario {
    height: 23.7rem;
    width: 45vw;
    border: 3px solid green;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
}

#box-comentario-usuario {
    display: flex;
    justify-content: space-evenly;
}

#user-comentario {
    outline: 0;
    font-family: "JetBrains Mono", serif;
    font-weight: bold;
    margin-left: 15px;
    height: 3rem;
    width: 30vw;
    font-size: 20px;
}

#button-comentario {
    font-family: 'JetBrains Mono';
    background-color: green;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    color: #fff;
}

/* 
<!--Comentários-->

        <section id="comentarios">
            
            <h2 id="titulo-comentarios">Comentários</h2>

            <div id="comentarios-help">

            <div class="container-comentarios">
            
            <div class="box-comentario">
                <i id="icone-perfil" class="bi bi-person-circle" style="font-size: 30px; color: red;"></i>
                <P class="comentario">Achei super legal, muito bom...</P>
            </div>

            <div class="box-comentario">
                <i id="icone-perfil" class="bi bi-person-circle" style="font-size: 30px; color: blue;"></i>
                <P class="comentario">Nossa, amei, chegou intacto...</P>
            </div>

            <div class="box-comentario">
                <i id="icone-perfil" class="bi bi-person-circle" style="font-size: 30px; color: orange;"></i>
                <P class="comentario">Super útil, ajudou muito no...</P>
            </div>

            <div class="box-comentario">
                <i id="icone-perfil" class="bi bi-person-circle" style="font-size: 30px; color: darkgreen;"></i>
                <P class="comentario">Achei super legal, muito bom...</P>
            </div>

            <div class="box-comentario">
                <i id="icone-perfil" class="bi bi-person-circle" style="font-size: 30px; color: gray;"></i>
                <P class="comentario">top!</P>
            </div>

            </div>

            <div class="container-comentarios-2">

            <div id="big-comentario">
                <i id="icone-perfil" class="bi bi-person-circle" style="font-size: 30px; color: darkred;"></i>
                <p id="nome-usuario">Marciele</p>
                <p id="comentario-usuario">

                </p>
                <div class="estrelas">
                    <i class="bi bi-star-half" style="color: gold"></i>
                    <i class="bi bi-star" style="color: gold"></i>
                    <i class="bi bi-star" style="color: gold"></i>
                    <i class="bi bi-star" style="color: gold"></i>
                    <i class="bi bi-star" style="color: gold"></i>
                </div>
            </div>

            <div class="box-comentario" id="box-comentario-usuario">
                <i id="icone-perfil" class="bi bi-person-circle" style="font-size: 30px; color: purple;"></i> 
                <input id="user-comentario" type="text" placeholder="digite seu comentário">
                <button id="button-comentario" type="button" onclick="enviarComentario()">enviar</button>
            </div>

            </div>

        </div>

        </section>
*/
